<fab-button>Butjon</fab-button>
<fab-compound-button description="You can create a new account here.">Create account</fab-compound-button>
<fab-checkbox [disabled]="false">Standard checkbox</fab-checkbox>
<fab-form-element>
    <label fabLabel
           for="test">Standard</label>
    <input fabInput
           type="text"
           id="test"
           placeholder="Standard input field"
           [(ngModel)]="inputField">
</fab-form-element>
<fab-rating ngDefaultControl
            [min]="1"
            [max]="5"
            [(ngModel)]="rating"></fab-rating>
<fab-dropdown [label]="'Sample dropdown'"
              [items]="selectInputs"
              [placeholder]="'Please select an item'"
              (itemSelected)="onItemChanged($event)"></fab-dropdown>
<fab-dropdown [label]="'Sample dropdown with default selection'"
              [defaultSelectedKey]="defaultSelectedKey"
              [items]="selectInputs"
              [placeholder]="'Please select an item'"
              (itemSelected)="onItemChanged($event)"></fab-dropdown>
<pre>{{ selectedItem | json }}</pre>
